*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color: $mainColor;
	--text-color: #121212;
	--main-font: 2.2rem;
	--p-font: 1.1rem;
}